*{
            margin: 0;
            padding: 0;
        }
        body{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: hotpink;

        }
        .main{
            display: flex;
            flex-direction: column;
            padding: 80px 60px;
            position: relative;
            background: #333;
            color: #f2f3f7;
            border:19px solid green;
            height: 300px;
        }
        input[type='text'] {
            outline: none;
            border: none;
            background: none;
            border-bottom:2px solid #f2f3f7 ;
            padding: 2px;
            color: #fff;
            width: 250px;
            margin:18px;
            height: 25px;
            font-size: 20px;
        }
        input[type='submit'] {
            margin: 20px;
            background: #f2f3f7;
            outline: none;
            border: none;
            padding: 8px;
            cursor: pointer;
            font-size: 18px;
            transition: 0.5s;
        }
        input[type='submit']:hover {
            background: green;
            color: #fff;
        }
        .logo{
            padding: 20px;
        }
        .logo span{
            font-weight: 900;
            font-size:32px;
            text-transform: uppercase;
            font-family: sans-serif;
           
        }