body
{
  background-color:;
	min-width: 4096px;
	min-height: 4096px;
  font-family: 'Alatsi';
  font-size: 22px;
}

#canvas-wrap { position:relative } /* Make this a positioned parent */
#overlay     { position:absolute; top:20px; left:30px; }